@mixin navbar {
  z-index: 3;
  width: 100%;
  position: fixed;
  background: #1c2147;
  text-decoration: none;

  &.active {
    border-bottom: 2px #03dcee solid;
    color: #fff;
  }

  .nav-container {
    margin: 0 auto;
    padding: 1em 2em;
    max-width: 1250px;

    @media screen and (max-width: 800px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    > div {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 6fr;

      @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      justify-contet: space-between;

      @media screen and (max-width: 800px) {
        height: 0;
        transition: 0.7s;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .nav-menu-btn { 
      display: none;
      @media screen and (max-width: 800px) {
        cursor: pointer;
        display: inline-block;
        i { font-size: 1.7em; }
      }
    }

    .nav-toggle {
      @media screen and (max-width: 800px) {
        height: 16em;
      }
    }

    @media screen and (max-width: 800px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  ul { 
    display: inline-block;
    li {
      margin: 0 0.5rem;
      display: inline-block;
    }
    a {
      color: #6b6f8a;
      font-size: 0.8em;
      transition: 0.3s;
      padding-bottom: 0.2em;
      text-transform: uppercase;
      &:hover { color: #fff; }
    }

    &:nth-child(1) {
      &li {
        margin: 1em 0;
        display: block;
      }
      &li:nth-child(1) { margin-top: 1.5em; }
    }
    &:nth-child(2){
      &li:nth-child(1) { margin-left: 0; }
    }
  }

  ul.options {
    .notification {
      position: relative;

      &::before {
        content: '5';
        position: absolute;
        top: -1.5em;
        right: -0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        background: #ea335d;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 22px;
      }
    }

    i {
      color: #fff;
      font-size: 2em;
    }

    .profile-img {
      width: 2.5rem;
      border-radius: 50%;
    }
  }
}
