@mixin sidebar {
  left: 0;
  top: 0;
  height: 100vh;
  padding: 2em;
  position: fixed;
  max-width: 18em;
  background: #1c1c1c;
  border-right: 1px solid #999;

  @media screen and (max-width: 1050px) {
    max-width: initial;
    text-align: center;
    padding: 5em 1em 1em 1em;
    span { display: none; }
  }

  .sidebar-container {
    position: relative;
    height: 100%;

    @media screen and (max-height: 700px) {
      .sidebar .container { height: auto; }
    }

    ul {
      margin: 1em 0 3em 0;
      li {
        display: block;
        padding: 1em 0;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        i {
          color: #999;
          transition: .3s;
          margin-right: 0.7em;
          @media screen and (max-width: 1050px) {
            margin: 0;
          }
        }
        &:hover { i { color: whitesmoke; } }
      }
    }

    .sidebar-footer {
      margin: 18em 0;
      p { color: whitesmoke; }
      @media screen and (max-width: 1050px) {
        display: none;
      }
    }
  }
}
