@mixin sidebar {
  left: 0;
  top: 0;
  height: 100vh;
  padding: 2em;
  position: fixed;
  max-width: 18em;
  background: linear-gradient(0deg, #0c1839, #1c2145);

  @media screen and (max-width: 1050px) {
    max-width: initial;
    text-align: center;
    padding: 5em 1em 1em 1em;
    span { display: none; }
  }

  .sidebar-container {
    position: relative;
    height: 100%;

    @media screen and (max-height: 700px) {
      .sidebar .container { height: auto; }
    }

    ul {
      margin: 1em 0 3em 0;
      li {
        display: block;
        padding: 1em 0;
        border-bottom: 1px #21284c solid;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        i {
          color: #6b6f8a;
          transition: .3s;
          margin-right: 0.7em;
          @media screen and (max-width: 1050px) {
            margin: 0;
          }
        }
        &:hover { i { color: #fff; } }
      }
    }

    .sidebar-footer {
      margin: 18em 0;
      @media screen and (max-width: 1050px) {
        display: none;
      }
    }
  }
}
