@mixin transactions {
  .search-bar {
    top: 40px;
    left: 270px;
    display: flex;
    position: absolute;
    align-items: center;

    input {
      width: 250px;
      font-size: 1em;
      padding: 0.4em;
      background: none;
      color: whitesmoke;
      border-radius: 5px;
      border: 1px solid #999;
    }
  }

  ul.transaction-list {
    width: 800px;
    padding: 10px;
    position: relative;
    margin: 100px auto 0;
    box-sizing: border-box;

    @media screen and (max-width: 1050px) {
      width: calc(100% - 4.1em);
    }

    li.transaction {
      color: #fff;
      margin: 5px 0;
      transition: 0.5s;
      padding: 10px 20px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
