@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import 'variables';
@import 'components/modal';

*, *::before, *::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: $white;
  min-height: 100vh;
  background: $black;
  font-family: $font;

  @include modal;
}

@media screen and (max-width: 400px) {
  font-size: 13px;
}

h1, h2, h3, h4 { margin: 0; }

a {
  color: $white;
  display: block;
  cursor: pointer;
  font-size: 1rem;
  text-align: right;
  text-decoration: none;
}

p { font-size: .9em; }
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb { background: #6b6f8a; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.notice, .alert {
  padding: 1em 0;
  font-size: 1em;
  text-align: center;
}

.notice, .alert {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
  i {
    right: 2em;
    top: 1.25em;
    cursor: pointer;
    position: absolute;
    transition: color 0.2s ease;
  }
  i:hover { color: $black; }
}
.alert { background: $red; }
.notice { background: $green; }
