@import 'utils/variables';

@mixin input_field {
  height: 45px;
  position: relative;

  label {
    top: 50%;
    left: 10px;
    color: $grey;
    font-size: 18px;
    transition: 0.3s;
    position: absolute;
    transform: translateY(-50%);
  }

  input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    color: $white;
    outline: none;
    background: none;
    font-size: 1.2rem;
    position: absolute;
    padding: .5rem .7rem;
  }
}
