@mixin sidebar {
  top: 0;
  left: 0;
  padding: 2em;
  height: 100vh;
  position: fixed;
  max-width: 18em;
  background: #282828;

  @media screen and (max-width: 1050px) {
    max-width: initial;
    text-align: center;
    padding: 5em 1em 1em 1em;
    span { display: none; }
    .sidebar-header { display: none; }
  }

  .sidebar-header {
    font-size: 1.1em;
    text-align: center;
    h4 { color: $green; }
  }

  .sidebar-container {
    margin-top: 1.5em;
    position: relative;

    @media screen and (max-height: 700px) {
      .sidebar .container { height: auto; }
    }

    ul {
      li {
        display: block;
        padding: 1em 0;
      }
      a {
        display: flex;
        transition: 0.3s;
        align-items: center;
        justify-content: flex-start;
        i {
          color: $grey;
          transition: .3s;
          margin-right: 0.7em;
          @media screen and (max-width: 1050px) {
            margin: 0;
          }
        }
        &:hover { 
          color: $blue;
          i { color: $blue; }
        }
      }
    }

    .sidebar-footer {
      bottom: 1em;
      color: $white;
      position: fixed;
      text-align: center;
      @media screen and (max-width: 1050px) {
        display: none;
      }
    }
  }
}
