/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'auth_page';
@import 'dashboard/navbar';
@import 'dashboard/sidebar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  min-height: 100vh;
}

.auth-page { @include auth_page; }

.container {
  color: #fff;
  background: #172042;

  @media screen and (max-width: 400px) {
    font-size: 13px;
  }

  h1, h2, h3, h4 { margin: 0; }
  a {
    color: #fff;
    text-decoration: none;
  }
  p {
    color: #6b6f8a;
    font-size: .9em;
  }
  small { color: #6b6f8a; }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ::-webkit-scrollbar { width: 10px; }

  ::-webkit-scrollbar-thumb {
    background: #6b6f8a;
  }

  nav.navbar { @include navbar; }
  nav.sidebar { @include sidebar; }

  .dashboard {
    right: 0;
    top: 4.1em;
    padding: 2em;
    display: grid;
    grid-gap: 2em;
    position: absolute;
    overflow-x: hidden;
    background: #172042;
    justify-content: center;
    width: calc(100% - 18em);
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 1050px) {
      .title { display: none; }
      width: calc(100% - 4.1em);
    }

    @media screen and (max-width: 1150px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 750px) {
      grid-template-columns: 1fr;
    }

    .panel {
      overflow: hidden;
      border-radius: 15px;
      background: linear-gradient(90deg, #262a4f, #122442);
    }

    .list li {
      display: flex;
      padding: 1.2em;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        border-bottom: 1px #2a335e solid;
      }
      span { color: #ee335d; }
    }

    .goal { 
      padding: 1em; 
      margin: 1em 0;

      i {
        color: #03dcee;
        margin-right: 0.5em;
        font-size: 2em;
      }
    }

    .goal, .goals, .goal-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .goal-title h4:nth-child(1) {
      margin: 0 2em 0 0;
    }

    .goal-title {
      margin-bottom: column;
    }

    .goals { flex-direction: column; }

    .sales {
      display: grid;
      grid-gap: 2em;
      margin: 2em 0;
      grid-column-start: span 3;
      grid-template-columns: repeat(4, 1fr);

      @media screen and (max-width: 1150px) {
        grid-column-start: span 2;
        grid-template-columns: 1fr 1fr;
      }

      @media screen and (max-width: 750px) {
        grid-column-start: span 1;
        grid-template-columns: 1fr; 
      }

      > div {
        padding: 1em;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

        h1 { margin: 0.5em 0; }
        small { color: #fff; }
      }

      > div:nth-child(even) {
        background: linear-gradient(0deg, #b52b4b, #ea335d);
      }

      > div:nth-child(odd) {
        background: linear-gradient(0deg, #178add, #03dcee);
      }

      .text { padding: 1em; }
      .text-vertical { grid-row-start: span 2; }

      .text-horizontal { 
        grid-column-start: span 2;

        @media screen and (max-width: 1150px) {
          grid-column-start: span 1;
        }
      }
    }

    #scientificChart {
      grid-column-start: span 3;
      @media screen and (max-width: 1150px) {
        grid-column-start: span 2;
      }
      @media screen and (max-width: 750px) {
        grid-column-start: span 1;
      }
    }
  }
}
