@mixin portfolio {
  top: 7em;
  right: 1.5em;
  display: grid;
  grid-gap: 1.5em;
  position: absolute;
  width: calc(100% - 325px);
  grid-template-columns: repeat(4, 1fr);

  .company {
    display: flex;
    transition: 0.2s;
    position: relative;
    align-items: center;
    flex-direction: column;

    .company-content {
      width: 100%;
      height: 100%;
      display: flex;
      padding-top: 1em;
      background: #282828;
      padding-bottom: 1em;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;

      h4 { font-size: 0.9em; }
      img { 
        max-width: 90px;
        max-height: 85px;
        border-radius: 10px;
      }

      &:hover {
        cursor: pointer;
        background: none;
        outline: 1px solid $green;
      }
    }

    a:last-child {
      width: 100%;
      color: $black;
      transition: 0.2s;
      font-weight: bold;
      background: $green;
      text-align: center;

      &:hover { 
        width: 80%; 
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
